.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox-input {
  display: none; /* Ocultar el checkbox nativo */
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: border-color 0.2s, background-color 0.2s;
}

.checkbox-input:checked + .checkbox-custom {
  border-color: #007bff;
  background-color: #e6f7ff;
}

.checkbox-custom img {
  width: 16px;
  height: 16px;
}
