.hamburger-menu {
  position: relative;
}

.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #c2bc18;
  border: 0.5px solid black;
  transition: transform 0.3s ease;
}
.bart {
  width: 100%;
  height: 4px;
  background-color: #c23218;
  border: 0.5px solid black;
  transition: transform 0.3s ease;
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: none;
  transition: all 0.3s ease;
}

.menu.show {
  display: block;
  color: #fff;
  background: linear-gradient(135deg, #c2bc18, rgb(0, 0, 255));
  width: 100px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.menu ul li a:hover {
  color: #007bff;
}
